/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.page-id-1059 .content-area .container,
.page-id-1080 .content-area .container
{ max-width: 900px; }


.wt-appointment .pignose-calendar .pignose-calendar-top{
    background: transparent;
    padding: 15px 0px;
}
.wt-appointment .pignose-calendar .pignose-calendar-top .pignose-calendar-top-date{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wt-appointment .pignose-calendar .pignose-calendar-top-date .pignose-calendar-top-month,
.wt-appointment .pignose-calendar .pignose-calendar-top-date .pignose-calendar-top-year{
    display: inline-block;
    font-size: 100%;
    font-weight: 600;
    color: #2c2c2c;
    margin: 0 10px;
    text-transform: capitalize;
}
.wt-appointment .pignose-calendar .pignose-calendar-header{
    padding: 1.2em 1.2em 0em 1.2em;
    margin-top: 0;
}
.wt-appointment .pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.wt-appointment .pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat,
.wt-appointment .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a,
.wt-appointment .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a{
    color: #ce1700;
}
.wt-appointment .pignose-calendar .pignose-calendar-unit{
    height: 2.8em;
}
.wt-appointment{
	border: 1px solid #d8d8d8;
    border-radius: 5px;
    font-size: 18px;
}
.wt-appointment .wt-header{
	border-bottom: 1px solid #d8d8d8;
	padding: 15px 20px;
}
.wt-appointment .wt-header h2{
	margin-bottom: 0px;
    text-align: center;
}
.wt-appointment .cta-button{
	width: 100%;
	background-color: #3b5998;
    border: 1px solid #3b5998;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
}
.wt-appointment .cta-button-outline{
	width: 100%;
    border: 1px solid #3b5998;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
}
.wt-calendar{
	display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wt-appointment .wt-calendar-left{
	-ms-flex: 0 0 65%;
    -webkit-box-flex: 0;
    flex: 0 0 65%;
}
.wt-appointment .times{
	-ms-flex: 0 0 35%;
    -webkit-box-flex: 0;
    flex: 0 0 35%;
    max-height: 480px;

    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;
}

.wt-appointment .wt-calendar-left .timezone{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wt-appointment .wt-calendar-left .timezone .timezone-lable{
    font-size: 13px;
    color: #888888;
    width: 372px;
    margin-bottom: 5px;
}
.select2-search--dropdown .select2-search__field{
    font-size: 18px;
    padding: 4px 10px;
    margin-bottom: 0px;
    height: 35px;
}
.wt-appointment .selection{
    font-size: 14px;
}
.wt-appointment .siteloader{
    position: absolute;
    z-index: 8;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.9);
}
.wt-appointment .siteloader .loader-content{
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url(../images/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

/* Let's get this party started *
.wt-appointment .times::-webkit-scrollbar {
    width: 7px;
}
 
/* Track *
.wt-appointment .times::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle *
.wt-appointment .times::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #3b5998; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.wt-appointment .times::-webkit-scrollbar-thumb:window-inactive {
	background: #3b5998;
}
*/
.wt-appointment .times {
  scrollbar-color: #3b5998 white;
  scrollbar-width: thin;
}
.wt-appointment .times::-webkit-scrollbar {
  width: 7.5px;
}
.wt-appointment .times::-webkit-scrollbar-track {
  background: white; 
}
.wt-appointment .times::-webkit-scrollbar-thumb {
  background: #3b5998;
  border-right: 1px solid white;
}

.wt-appointment ul{
	list-style: none;
	margin: 0px;
}
.wt-appointment ul li{
	display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    list-style: none;
}
.wt-appointment ul li.booked{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
.wt-appointment ul li:before{
    display: none;
}
.wt-appointment .times .time{
    -webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    min-width: 100%;

    transition: all 0.3s ease;
}
.wt-appointment .times .time-confirm{
	-ms-flex: 0 0 43%;
    flex: 0 0 43%;
    min-width: 43%;

	transition: all 0.3s ease;
    transition-property: width, transform;
    transform: translateX(40px);
}
.wt-appointment ul li.active .time{
	-ms-flex: 0 0 52%;
    flex: 0 0 52%;
    min-width: 52%;
}
.wt-appointment ul li.active .time-confirm{
	transform: translateX(10px);
}
.wt-appointment .appointments-form-blk{
	padding: 15px;
	display: none;
}
.wt-appointment .input-group{
	border: none;
	padding: 0px;
}
.wt-appointment .appointments-form .back{
	font-family: 'pignose-calendar-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    float: right;
}
.wt-appointment .appointments-form .back:before {
    content: '\e90b';
}
.wt-appointment .appointments-form .input-group{
	margin-bottom: 20px;
}
.wt-appointment .appointments-form label{
	font-size: 18px;	
}
.wt-appointment .appointments-form input{
	margin-bottom: 0px;
	font-size: 18px;
}
.wt-appointment .appointments-form .error-message{
	color: #d42525;
	font-size: 18px;
}
.wt-appointment .appointments-form .ajax-message .success-message{
	color: #30D425;
	font-size: 20px;
	margin-bottom: 0px;
}
.wt-appointment .appointments-form .ajax-message .error-message{
	color: #d42525;
	font-size: 20px;
	margin-bottom: 0px;
}